.chosen-select
{
    width:200px;
}

.sectionHeader{

}
.sectionHeaderStep{
    font-weight:bold;
}

.important {
    color: red;
    font-weight: bold;
}

#queryTime {
    float: right;
    padding-top:5px;
}
#gridContainer {
    clear: right;
}

.dx-toast-content {
    min-width: 300px;
    max-width: 400px;
}

.colored {
    color: #003C71;
}

.popupDiv {
    text-align:left;
    
}

#btnRunReport {
    padding: 10px;
    margin:5px;
    font-size:16px;
}
#btnResetForm {
    padding: 10px;
    margin:5px;
    font-size:16px;
    background-color:#777777;
    border-color: #777777;
}
#btnResetForm:hover {
    background-color:#999999;
}

#acknowledgeBox {
    text-align:center;
}
.modal-body {
    font-size: 12px;
}